<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="msapplication-TileColor" content="#0e90d2">

	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/gifts.css" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="/js/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>

	<script type="text/javascript">
		function calcNum(){
			var shopId = $("#shopName").val();
			if(isNull(shopId)){
				return;
			}
			
			getEntity('/a/shop/selectOne.do', null, shopId, function(res){
				var typeName = res.typeName;
				var money = res.money;
				var couponMoney = $("#money").val();
				if(isNull(shopId)){
					return;
				}
				$("#shopType").val(typeName);
				var num = couponMoney / money;
				$("#num").val(Math.floor(num))
			});
		}
		$(function(){
			
			$("#shopName").change(calcNum);
			$("#money").change(calcNum);
			
			$("#myform").validate({
				rules:{
					
				},
				submitHandler: function(){
					$submit("myform", '/a/coupon/insertSelective.do');
					return false;
				},
				errorClass: "myerror",
				errorContainer: "#messageBox",
				errorPlacement: function(error, element) {
					$("#messageBox").text("输入有误，请先更正。");
					if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
						error.appendTo(element.parent().parent());
					} else {
						error.insertAfter(element);
					}
				}
			});
			
			getBaseDict('/a/shop/getLists.do', 'shopName');
		});
	</script>
</head>

<body>
	<div class="container-fluid mycontainer">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						<small>欢迎你: </small>柯晓鸿
						<small><a href="/logout" class="logout">退出</a></small>
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<ul class="list-group">
				  	<li class="list-group-item">
				  		<a href="/a/dict">数据字典配置</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/shop">商店配置</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/coupon">整点抽</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/ticket">刮刮乐</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/gifts">礼品领取</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/admin">报表导出</a>
				  	</li>
				</ul>
			</div>
			<div class="col-md-10">
				<div class="row">
					<a href="/a/admin/exportCoupon.do" class="btn btn-success">整点抽</a>
					<a href="/a/admin/exportTicket.do" class="btn btn-success">刮刮乐</a>
					<a href="/a/admin/exportGifts.do" class="btn btn-success">礼品领取</a>
				</div>
			</div>
		</div>		
	</div>
</body>

</html>