<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="msapplication-TileColor" content="#0e90d2">

	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/gifts.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />  
	
	<script type="text/javascript" src="/js/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script> 
	<script src="/js/bootstrap-datetimepicker.zh-CN.js"></script> 
	<script type="text/javascript" src="/js/common.js"></script>

	<script type="text/javascript">
		$(function(){
			$('#birthday').datetimepicker({
			    format: 'yyyy-mm-dd',
			    language: 'zh-CN',
			    startView: 2,
		        minView: 2,
			    weekStart: 1,
			　　　todayBtn: 1,//显示‘今日’按钮
				clearBtn:true,//清除按钮
			})
			
			$("#myform").validate({
				rules:{
					tel:{
						required: true,
						phone: true
					}
				},
				submitHandler: function(){
					$submit("myform", '/a/gifts/insertSelective.do');
					return false;
				},
				errorClass: "myerror",
				errorContainer: "#messageBox",
				errorPlacement: function(error, element) {
					$("#messageBox").text("输入有误，请先更正。");
					if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
						error.appendTo(element.parent().parent());
					} else {
						error.insertAfter(element);
					}
				}
			});
		})
	</script>
</head>

<body>
	<div class="container-fluid mycontainer">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						<small>欢迎你: </small>柯晓鸿
						<small><a href="/logout" class="logout">退出</a></small>
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<ul class="list-group">
				  	<li class="list-group-item">
				  		<a href="/a/dict">数据字典配置</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/shop">商店配置</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/coupon">整点抽</a>
				  	</li>
				  	<li class="list-group-item">
				  		<a href="/a/gifts">礼品领取</a>
				  	</li>
				  	
				  	<li class="list-group-item">
				  		<a href="/a/admin">报表导出</a>
				  	</li>
				</ul>
			</div>
			<div class="col-md-10">
				<form class="form-inline" id="myform" name="myform">
				  	<div class="form-group">
					    <label for="vipNo">会员号</label>
					    <input type="text" class="form-control form-param" id="vipNo" name="vipNo" placeholder="请输入会员号" required="required">
					</div>
				  	<div class="form-group">
				    	<label for="tel">电话号码</label>
				    	<input type="tel" class="form-control form-param" id="tel" name="tel" placeholder="请输入电话号码">
				  	</div>
				  	<div class="form-group">
				    	<label for="birthday">出生年月</label>
				    	<input type="text" class="form-control form-param" id="birthday" name="birthday" placeholder="请选择出生年月" readonly="readonly" required="required">
				  	</div>
				  	<div class="form-group">
				    	<label for="sex">性别</label>
				    	<select class="form-control form-param" name="sex" id="sex">
							<option value="男">男</option>
						  	<option value="女">女</option>
						</select>
				  	</div>
				  	<button type="submit" class="btn btn-success btn-submit">提交</button>
				</form>
			</div>
		</div>		
	</div>
</body>

</html>